.album-bg {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-container {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#album-art-container {
  width: 50%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#album-cover-img {
  width: 100%;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid #323247;
}

#album-info {
  padding: 20px;
  width: 50%;
}

.album-details {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.middle-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

 .ion-md-player-bar  {
   display: flex;
   flex-direction: column;
  align-items: stretch;
  justify-content: space-around;

}
#buttons {
  margin: 2px;
  align-self: center;

}
#buttons > button {
  margin: 0 10px;
  border: 2px solid black;
  background-color:#323247;
  color: white;
}


#volume-control {
  display: flex;
  justify-content: space-evenly;
}

.ion-md-total-time {
  margin:  10px;
}
.ion-md-current-time {
  margin:  10px;
}

#time-control {
  display: flex;
  justify-content: space-evenly;

}

.bottom-container  {
  height: 200px;
  display: flex;
  justify-content: center;
}

#song-list {
  justify-content: space-evenly;

}

.song {
  padding:  10px;font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #323247;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}





