#song-list {
  background-color: rgba(230, 219, 241, 0.8);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30%;
  width: 30%;


}
/* .album {

  background: url("https://i.ibb.co/rthy9LJ/wood-591631-640.jpg");

} */
/* #album-cover-art {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  margin-right: 400px;
  padding-top: 20px; */
  /* position: absolute;
  /* width: 400px; */
  /* height: 0;
  border-radius: 10px;
  margin-right: 400px;
  margin-top: 20px; */



/* #album-details {
  display: inline-block;
  padding: 15px 0 0 24px;
  box-sizing: content-box;
  vertical-align: top;
  margin-bottom: 13px;
  font-size: 20px;
} */