.landing {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-cover {
  position: absolute;
  height: calc(100% - 65px) !important;
  width: 100%;
  z-index: -100;
}

.hero-title {
  font-family: 'Monoton', cursive;
  padding: 50px;
  font-size: 60px;
  /* letter-spacing: 2px; */
  word-spacing: 2px;
  color: #000000;
  /* font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none; */


}

.point {
  padding: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

