.album-cover {
  width: 300px;
  padding: 20px;

}

.landing-bg {
  background: url("https://i.ibb.co/jbbDRML/background-2068283-640.jpg");
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}
.album-cover {
  width: 300px;
  height: 300px;
  padding-top: 20px;
  border-radius: 30px;
}
